{% extends "layout.html" %}
{% block head %} 
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>   -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>    
</head>
<body>
 <script>
$(document).ready(function() {
  
var MaxInputs       = 8; //maximum input boxes allowed
var InputsWrapper   = $("#InputsWrapper"); //Input boxes wrapper ID
var AddButton       = $("#AddMoreFileBox"); //Add button ID
  
var x = InputsWrapper.length; //initlal text box count
var FieldCount=1; //to keep track of text box added
  
$(AddButton).click(function (e)  //on add input button click
{
    if(x <= MaxInputs) //max input box allowed
    {
        FieldCount++; //text box added increment
        //add input box
        $(InputsWrapper).append('<div class="row"><p class="col-xs-6"><input type="text" placeholder="Enter Column Title" class="form-control column_list" name="column[]" id="field_'+ FieldCount +'"/></p><a href="#" class="btn btn-danger removeclass">×</a></div>');
        x++; //text box increment
    }
    return false;
});
  
$("body").on("click",".removeclass", function(e){ //user click on remove text
    if( x > 1 ) {
        $(this).parent('div').remove(); //remove text box
         x--; //decrement textbox
    }
    return false;
})

 $('#submit').click(function(){            
    $.ajax({  
        url:"/db/add",  
        method:"POST",  
        data:$('#add_columns').serialize(),  
        success:function(data)  
        {  
            if (data == "success") {
                window.location.href = "/db/";  
            }
            else {
                alert("Fix The Issues: " + data);
            }
        }
    });  
}); 

});
</script>
{% endblock %}

{% block content %}
<div class='container-fluid'>
        <form name="add_columns" id="add_columns">
        <div class="form-group">  
            <p class="col-xs-6">
                <label for="table">Table Name:</label>
                <input type="text" placeholder="Enter Table Name" class="form-control" name="table" id="table"/>
            </p>
            <button type="button" name="add" id="AddMoreFileBox" class="btn btn-success">Add More</button>
            <input type="button" name="submit" id="submit" class="btn btn-info" value="Submit" />
            <a href="/db/"><button type="button" class="btn btn-danger">Cancel</button></a>
        <div id="InputsWrapper" style="display: inline; padding-top:1ch">
                <input type="text" name="column[]" placeholder="Primary Column Title" class="form-control name_list" /><br />
        </div>
        
        </form>  
</div>
{% endblock %}