{% extends "layout.html" %}
{% block content %}
<div class='container-fluid'>
    <form action='/db/{{table}}/add' method='post'>
        <div class='form-group'>
            {% for column in columns %}
                {% if column[1] != 'id' %}
                    <div class='form-group'>
                        <input type='text' name='{{column[1]}}' class='form-control' placeholder='{{column[1]}}'>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <button type='submit' class='btn btn-primary'>Submit</button>
    </form>
</div>
{% endblock %}
