{% extends "layout.html" %}
{% block content %}
<div class='container-fluid'>
    <div class='row'>
        <div class='col-md-12'>
            
            <h1>Delete Row</h1>

            <table class="table table-stripped">
                <thead>
                    <tr>
                        {% for column in columns %}
                            <th>{{column[1]}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for column in columns %}
                            <td>{{rows[column[0]]}}</td>
                        {% endfor %}
                    </tr>
                </tbody>


            </table>
            <p>Are you sure you want to delete this row?</p>
            <form action='/db/{{ table }}/{{ rows[columns[0][0]] }}/delete' method='post'>
                <input type='hidden' name='id' value='{{ id }}'>
                <input type='submit' value='Delete' class='btn btn-danger'>
                <a href='/db/{{table}}/' class='btn btn-default'>Cancel</a>
            </form>
        </div>
    </div>

</div>
{% endblock %}
