{% extends "layout.html" %}
{% block content %}
<div class='container-fluid'>
    <h1>{{ table }}</h1>
    <a href='/db/'>Return Back</a>
    <a href='/db/{{table}}/add'>Add row</a>
    
    <!-- if columns is none -->
    {% if columns is none %}
        <p>No columns in this table</p>
    {% else %}
        <table class='table table-striped'>
            <thead>
                <tr>
                    {% for column in columns %}
                        <th>{{ column[1] }}</th>
                    {% endfor %}
                        <th>Delete</th>
                        <th>Modify</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                    <tr>
                        {% for column in columns %}
                            <td>{{ row[column[0]] }}</td>
                        {% endfor %}
                            
                            <td><a href='/db/{{ table }}/{{ row[columns[0][0]] }}/delete'>Delete</a></td>
                            <td><a href='/db/{{ table }}/{{ row[columns[0][0]] }}/edit'>Edit</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}


</div>
{% endblock %}
