{% extends "layout.html" %}
{% block content %}
<div class='container-fluid'>
    <h1>{{ table }}</h1>
    <a class="btn btn-primary" href='/db/'>Return Back</a>
    <a class="btn btn-primary" href='/db/{{table}}/add'>Add row</a>
    <br />
    <form action='/db/{{table}}/search/' method='post'>
        
        <input class="form-control"  type='text' name='args' id="args" placeholder='Search'/>
        <input type='submit' class="btn btn-secondary" value='Search'/>
    </div>
    </form>


    {% if columns is none %}
        <p>No columns in this table</p>
    {% else %}
        <table class='table table-striped'>
            <thead>
                <tr>
                    {% for column in columns %}
                        <th>{{ column[1] }}</th>
                    {% endfor %}
                        <th>Delete</th>
                        <th>Modify</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                    <tr>
                        {% for column in columns %}
                            <!-- if row has http or https, it's a link -->
                            {% if 'https' in row[column[0]] %}
                                <td><a href='{{ row[column[0]] }}'>{{ row[column[0]] }}</a></td>
                            {% elif 'http' in row[column[0]] %}
                                <td><a href='{{ row[column[0]] }}'>{{ row[column[0]] }}</a></td>
                            {% else %}
                                <td>{{ row[column[0]] }}</td>
                            {% endif %}
                        {% endfor %}
                            
                            <td><a class="btn btn-danger" href='/db/{{ table }}/{{ row[columns[0][0]] }}/delete'>Delete</a></td>
                            <td><a class="btn btn-primary" href='/db/{{ table }}/{{ row[columns[0][0]] }}/edit'>Edit</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}


</div>
{% endblock %}
