{% extends "layout.html" %}
{% block content %}
<div class='container-fluid'>
    <h1>{{ table }}</h1>
    <a href='/delete/{{ table }}'>delete {{table}}</a>
    <a href='/db/'>Return Back</a>
    
    <!-- if columns is none -->
    {% if columns is none %}
        <p>No columns in this table</p>
    {% else %}
        <table class='table table-striped'>
            <thead>
                <tr>
                    {% for column in columns %}
                        <th>{{ column[1] }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                    <tr>
                        {% for column in columns %}
                            <td>{{ row[column] }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}


</div>
{% endblock %}
